@model NewMovie
@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Add Movies to the Database</h1>

<form method="post">
    <label asp-for="Category">Category</label>
    <input type="text" required asp-for="Category" />
    <br />
    <label asp-for="Title">Title</label>
    <input type="text" required asp-for="Title" />
    <br />
    <label asp-for="Year">Year</label>
    <input type="number" required asp-for="Year" />
    <br />
    <label asp-for="Director">Director</label>
    <input type="text" required asp-for="Director" />
    <br />
    <label asp-for="RatingId">Rating for this movie</label>
    <select required asp-for="RatingId">
        @foreach (Rating r in ViewBag.Ratings)
        {
            <option value="@r.RatingId">@r.RatingName</option>
        }
    </select>
    <br />
    <label asp-for="LentTo">Lent to</label>
    <input type="text" asp-for="LentTo" />
    <br />
    <label>Was this movie edited?</label>
    <br />
    <label asp-for="Edited">yes</label>
    <input type="radio" value="yes" asp-for="Edited" />
    <label asp-for="Edited">no</label>
    <input type="radio" value="no" asp-for="Edited" />
    <br />
    <label asp-for="Notes">Notes</label>
    <input type="text" asp-for="Notes" maxlength="25"/>
    <br />
    <button type="submit">Add Movie</button>
</form>