@{
    ViewData["Title"] = "Get To Know Joel";
}
<h3>Check out Quick Wits Comedy, where Joel performs regularly!</h3>
<a target="_blank" href="https://www.qwcomedy.com/">Quick Wits Comedy</a>

<br />

<h3>Check out Baconsale</h3>
<a target="_blank" href="https://baconsale.com/">Baconsale</a>
<br />
<a target="_blank" href="https://baconsale.com/"><img style="height: 300px;" src="~/img/baconsalekate.jpg" /></a>